
body {
  font-family: aktiv-grotesk, sans-serif;
}

h1 {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 24pt;
  text-align: left;
  line-height: 34px;
  text-transform: uppercase;
  color: #1C2F52DB;
}

